{
	"interface": ":{{ couchbase_sync_gateway_port }}",
	"adminInterface": ":{{ couchbase_sync_gateway_admin_port }}",
	"log": ["REST"],
	"databases": {
		"{{ couchbase_server_bucket_name }}": {
			"server": "{{ couchbase_server_url }}:{{ couchbase_server_admin_port }}",
			"bucket": "{{ couchbase_server_bucket_name }}",
			{% if couchbase_sync_gateway_users -%}
			"users": {
				{% for user in couchbase_sync_gateway_users -%}
				"{{ user.name }}": {
					"disabled": false
					{%- if user.admin_channels is defined %},
					"admin_channels": [
						{% for channel in user.admin_channels -%}
						"{{ channel }}"{% if not loop.last %},{% endif %}

						{% endfor -%}
					]{% endif %}

				}{% if not loop.last %},{% endif %}

				{% endfor -%}
			},{% endif %}

			"sync": `

{% include "couchbase-sync-gateway.js" %}

			`
		}
	}
}
